# custom ansible.cfg from kgallagher@pandora.com
# based on Ansible 2.6, suitable for ad-hoc playbooks
[defaults]
remote_tmp = /tmp/ansible
local_tmp = ~/.ansible/tmp
library = /home/kevin/dev/ansible_modules
lookup_plugins = /home/kevin/dev/ansible_modules
inventory = ./inventory/hosts
forks = 8
poll_interval = 5
internal_poll_interval = 0.0005
strategy = linear
transport  = smart
remote_port = 22
timeout = 30
host_key_checking = False
roles_path = ./roles/
log_path = .ansible/log
gathering = implicit
gather_timeout = 30
gather_subset = min,network
stdout_callback = default
callback_whitelist = unixy, json, oneline, yaml, timer, skippy
bin_ansible_callbacks = True
deprecation_warnings = True
system_warnings = True
error_on_undefined_vars = True
error_on_missing_handler = True
display_skipped_hosts = False
display_args_to_stdout = False
private_role_vars = no
retry_files_enabled = False
ask_pass = False
no_log = False
no_target_syslog = True
allow_world_readable_tmpfiles = True
allow_unsafe_lookups = True
merge_multiple_cli_flags = True
show_custom_stats = True
any_errors_fatal = False
module_name = command
executable = /bin/sh
hash_behavior = replace
jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n
ansible_managed = File managed by: {file} modified on %Y-%m-%d %H:%M:%S
nocows = 1
nocolor = 0
fact_caching = jsonfile
fact_caching_connection = .ansible/facts_cache
fact_caching_timeout = 7200
var_compression_level = 9
module_compression = 'ZIP_DEFLATED'
max_diff_size = 0
# private_key_file = ~/.ssh/id_ed25519_old

[inventory]
unparsed_is_failed = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
become_flags = -E -H -S -n

[paramiko_connection]
record_host_keys = False
pty = True
look_for_keys = True
host_key_auto_add = True

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -o StrictHostKeyChecking=no -o CheckHostIP=no -o HashKnownHosts=no -o PreferredAuthentications=publickey
control_path_dir = .ansible/cp
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining = True
scp_if_ssh = smart
transfer_method = smart
sftp_batch_mode = True
use_tty = False
retries = 3

[persistent_connection]
connect_timeout = 60
connect_retry_timeout = 15
command_timeout = 10

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30

[selinux]

[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan

[diff]
always = yes
context = 2
